@model OutdoorWeiXin.Web.Models.TaskProjectViewModel
@foreach (var item in Model.TaskProjectList)
{
    <dl class="l1">
        <dt><a href="#">
            <div class="tit">
                @(AutoRadio.RadioSmart.Common.StringHelper.SubString(item.BlockName, 30, true) + " " + item.StreetAddress)</div>
            <div class="date">
                @(item.BeginDate + "-" + item.EndDate)</div>
        </a>
            <div class="open" n="Operating">
            </div>
            <div class="state">
                <span class="green">@item.AdProductName</span></div>
        </dt>
        <dd class="showSub" style="display: none;">
            <div class="paly">
                <span>@(item.PointName + item.MediaType)</span><span>@("(" + item.Price + "元)")</span></div>
            <div class="time">
                @(item.PhotoRequire)</div>
            <div class="look">
                @if (item.Status == 0)
                {
                    <a href="javascript:void(0)" onclick="viewTaskProject.ReceiveTask(@item.TId,@item.TPId,@item.TaskStatus,this)">
                        领取任务</a><a style="display:none" href="@Url.Action("Index", "UploadImage", new { tpid = item.TPId })">去上传图片</a>      
                }
            </div>
        </dd>
    </dl>
}